# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
data/distances/distances_01.csv
data/distances/distances_02.csv
data/distances/distances_04.csv
data/distances/distances_05.csv
data/distances/distances_06.csv
data/distances/distances_08.csv
data/distances/distances_09.csv
data/distances/distances_10.csv
data/distances/distances_11.csv
data/distances/distances_12.csv
data/distances/distances_13.csv
data/distances/distances_15.csv
data/distances/distances_16.csv
data/distances/distances_17.csv
data/distances/distances_18.csv
data/distances/distances_19.csv
data/distances/distances_20.csv
data/distances/distances_21.csv
data/distances/distances_22.csv
data/distances/distances_23.csv
data/distances/distances_24.csv
data/distances/distances_25.csv
data/distances/distances_26.csv
data/distances/distances_27.csv
data/distances/distances_28.csv
data/distances/distances_29.csv
data/distances/distances_30.csv
data/distances/distances_31.csv
data/distances/distances_32.csv
data/distances/distances_33.csv
data/distances/distances_34.csv
data/distances/distances_35.csv
data/distances/distances_36.csv
data/distances/distances_37.csv
data/distances/distances_38.csv
data/distances/distances_39.csv
data/distances/distances_40.csv
data/distances/distances_41.csv
data/distances/distances_42.csv
data/distances/distances_44.csv
data/distances/distances_45.csv
data/distances/distances_46.csv
data/distances/distances_47.csv
data/distances/distances_48.csv
data/distances/distances_49.csv
data/distances/distances_50.csv
data/distances/distances_51.csv
data/distances/distances_53.csv
data/distances/distances_54.csv
data/distances/distances_55.csv
data/distances/distances_56.csv
data/zillow/processed/prices_01.csv
data/zillow/processed/prices_02.csv
data/zillow/processed/prices_04.csv
data/zillow/processed/prices_05.csv
data/zillow/processed/prices_06.csv
data/zillow/processed/prices_08.csv
data/zillow/processed/prices_09.csv
data/zillow/processed/prices_10.csv
data/zillow/processed/prices_12.csv
data/zillow/processed/prices_13.csv
data/zillow/processed/prices_15.csv
data/zillow/processed/prices_16.csv
data/zillow/processed/prices_17.csv
data/zillow/processed/prices_18.csv
data/zillow/processed/prices_19.csv
data/zillow/processed/prices_20.csv
data/zillow/processed/prices_21.csv
data/zillow/processed/prices_22.csv
data/zillow/processed/prices_23.csv
data/zillow/processed/prices_24.csv
data/zillow/processed/prices_25.csv
data/zillow/processed/prices_26.csv
data/zillow/processed/prices_27.csv
data/zillow/processed/prices_28.csv
data/zillow/processed/prices_29.csv
data/zillow/processed/prices_30.csv
data/zillow/processed/prices_31.csv
data/zillow/processed/prices_32.csv
data/zillow/processed/prices_33.csv
data/zillow/processed/prices_34.csv
data/zillow/processed/prices_35.csv
data/zillow/processed/prices_36.csv
data/zillow/processed/prices_37.csv
data/zillow/processed/prices_38.csv
data/zillow/processed/prices_39.csv
data/zillow/processed/prices_40.csv
data/zillow/processed/prices_41.csv
data/zillow/processed/prices_42.csv
data/zillow/processed/prices_44.csv
data/zillow/processed/prices_45.csv
data/zillow/processed/prices_46.csv
data/zillow/processed/prices_47.csv
data/zillow/processed/prices_48.csv
data/zillow/processed/prices_49.csv
data/zillow/processed/prices_50.csv
data/zillow/processed/prices_51.csv
data/zillow/processed/prices_53.csv
data/zillow/processed/prices_54.csv
data/zillow/processed/prices_55.csv
data/zillow/processed/prices_56.csv
data/zillow/processed/prices_zeroless_01.csv
data/zillow/processed/prices_zeroless_02.csv
data/zillow/processed/prices_zeroless_04.csv
data/zillow/processed/prices_zeroless_05.csv
data/zillow/processed/prices_zeroless_06.csv
data/zillow/processed/prices_zeroless_08.csv
data/zillow/processed/prices_zeroless_09.csv
data/zillow/processed/prices_zeroless_10.csv
data/zillow/processed/prices_zeroless_11.csv
data/zillow/processed/prices_zeroless_12.csv
data/zillow/processed/prices_zeroless_13.csv
data/zillow/processed/prices_zeroless_15.csv
data/zillow/processed/prices_zeroless_16.csv
data/zillow/processed/prices_zeroless_17.csv
data/zillow/processed/prices_zeroless_18.csv
data/zillow/processed/prices_zeroless_19.csv
data/zillow/processed/prices_zeroless_20.csv
data/zillow/processed/prices_zeroless_21.csv
data/zillow/processed/prices_zeroless_22.csv
data/zillow/processed/prices_zeroless_23.csv
data/zillow/processed/prices_zeroless_24.csv
data/zillow/processed/prices_zeroless_25.csv
data/zillow/processed/prices_zeroless_26.csv
data/zillow/processed/prices_zeroless_27.csv
data/zillow/processed/prices_zeroless_28.csv
data/zillow/processed/prices_zeroless_29.csv
data/zillow/processed/prices_zeroless_30.csv
data/zillow/processed/prices_zeroless_31.csv
data/zillow/processed/prices_zeroless_32.csv
data/zillow/processed/prices_zeroless_33.csv
data/zillow/processed/prices_zeroless_34.csv
data/zillow/processed/prices_zeroless_35.csv
data/zillow/processed/prices_zeroless_36.csv
data/zillow/processed/prices_zeroless_37.csv
data/zillow/processed/prices_zeroless_38.csv
data/zillow/processed/prices_zeroless_39.csv
data/zillow/processed/prices_zeroless_40.csv
data/zillow/processed/prices_zeroless_41.csv
data/zillow/processed/prices_zeroless_42.csv
data/zillow/processed/prices_zeroless_44.csv
data/zillow/processed/prices_zeroless_45.csv
data/zillow/processed/prices_zeroless_46.csv
data/zillow/processed/prices_zeroless_47.csv
data/zillow/processed/prices_zeroless_48.csv
data/zillow/processed/prices_zeroless_49.csv
data/zillow/processed/prices_zeroless_50.csv
data/zillow/processed/prices_zeroless_51.csv
data/zillow/processed/prices_zeroless_53.csv
data/zillow/processed/prices_zeroless_54.csv
data/zillow/processed/prices_zeroless_55.csv
data/zillow/processed/prices_zeroless_56.csv
